<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <h1>Benvenuto!</h1>
    <p>Come ti chiami?</p>
    <form action="/send" method="post">
        <input type="text" value="nome"><br>
        <input type="submit" value="OK">
    </form> 
  </body>
</html>